.table-container {
  height: 95%;
  margin: 2.5% 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1%;
  justify-self: center;
  padding: 5% auto;

  td {
    // align-content: center;
    background-color: white;
    border-radius: 100px;
    box-shadow: 3px 6px 15px 4px rgba(0, 0, 0, 0.562);
    font-size: 2rem;
    font-family: var(--font-indie);
    font-weight: normal;
    color: rgb(184, 88, 155);
    padding: 10% 10%;
    width: 60%;
    height: 60%;
    justify-self: center;
  }
}
