@font-face {
  font-family: 'oswald';
  src: url('./fonts/Oswald-SemiBold.ttf');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'oswald';
  src: url('./fonts/Oswald-SemiBold.ttf');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'oswald';
  src: url('./fonts/Oswald-SemiBold.ttf');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'oswald';
  src: url('./fonts/Oswald-SemiBold.ttf');
  font-weight: 600;
  font-style: bold;
}

:root {
  --font: oswald, Arial, Helvetica, sans-serif;
}
