@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ranchers&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Indie+Flower&family=Ranchers&display=swap');

:root {
  // --font-numbers: oswald, Arial, Helvetica, sans-serif;
  --font-letter: 'Ranchers';
  --font-indie: 'Indie Flower';
  --font-bingo: 'Bubbler One';
}

$weight: (
  'extra-light': 200,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semi-bold': 600,
  'bold': 700,
);

@font-face {
  font-family: 'redressed';
  src: url('../../fonts/Redressed-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'staatliches';
  src: url('../../fonts/Staatliches-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: 'indie';
//   src: url('../../fonts/IndieFlower-Regular.ttf');
//   font-weight: 400;
//   font-style: normal;
// }
