:root {
  --font-numbers: oswald, Arial, Helvetica, sans-serif;
  --font-letter: staatliches, Arial, Helvetica, sans-serif;
  --font-indie: indie, Arial, Helvetica, sans-serif;
  --font-balsamiq: balsamiq, Arial, Helvetica, sans-serif;
}

$weight: (
  'extra-light': 200,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semi-bold': 600,
  'bold': 700,
);

@font-face {
  font-family: 'redressed';
  src: url('../../fonts/Redressed-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'staatliches';
  src: url('../../fonts/Staatliches-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'indie';
  src: url('../../fonts/IndieFlower-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'balsamiq';
  src: url('../../fonts/BalsamiqSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
